<html>

<head>
<title>Oops!</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico') }}">

<style type="text/css">
body {
	background: #cccccc;
	margin: 0 auto;
	max-width: 40em;
	line-height: 1.5;
	font-family: "Helvetica", "Arial", sans-serif;
	padding: 8em 1em;
}
h1 {
	color: #BD2D30;
	font-family: "Verdana";
}
pre {
	background: #aaaaaa;
	padding: 2em 4px;
	color: #222222;
}
h1, h2, a {
	margin: 20px;
}
h2 {
	font-size: 20px;
}
a {
	font-size: 18px;
	color: #333333;
}
</style>
<head>

<body>
<pre>
<h1>{{ code  }} not found</h1>
<h2>There is nothing to see here</h2>
<a href="/">GO BACK</a></br>
</pre>

<body>

</html>


